@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Select Student Tab or CLick Student Button To Perform CURD Opertaion and Search Opertaion</h1>
    <a asp-controller="Student" asp-action="Index" class="btn btn-success">STUDENT</a>
</div>
